.header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    background-color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    margin-bottom: 16pt
}
.header-content h1{
    font-size: 32pt;
    display: flex;
    flex-direction: column;
    margin-left: 16pt;
}
.header-content span{
    margin-left: 16pt;
    width: 60%;
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}