nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1pt solid darkslategray;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5pt;

}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}
@media (max-width: 1084px) {
    .logo {
        display: none;
    }.links{
    width: 100%;
         }
}

