body {
    font-family: Helvetica, sans-serif;
    background-color: #0a0a0a;
    color: #eaeaea;
    margin: 0;
    padding: 0;
}
.container-main{
    padding-top: 16pt;
}
a{
    text-decoration: none;
}
/* === NAVBAR === */

nav {
    position: fixed;
    width: 96%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    font-size: 15pt;
    z-index: 100;
    background-color: #0a0a0a;
}
nav button {
    top: 10px;
    right: 10px;
}


nav a {
    text-decoration: none;
    color: #00ff66;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #7dffb3;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 12pt;
}

/* === HERO === */

header{
    margin-top:16pt;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.header-buttons {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 12pt;
    width: 100%;
    font-weight: 500;
}
.header-buttons div {
    padding: 6pt 12pt;
    border-radius: 24pt;
    cursor: pointer;
}
.github-button img {
    width: 16pt;
    height: 16pt;
}
.github-button:hover{
    transform: translateY(-4px);
    transition: transform 0.2s ease;
}
.start-button:hover{
    transform: translateY(-4px);
    transition: transform 0.2s ease;
}
.github-button{
    padding: 0;
    margin: 0;
    border: 2px solid white;
    color: white;
}

.start-button{
    color: black;
    background-color: #ffffff;
}

.start-button img{
    width: 16pt;
    height: 16pt;
}
.header-content {
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 12pt;
    padding: 48pt 16pt;

}

header h1 {
    font-size: 36pt;
    margin: 0;
}

header span {
    font-size: 16pt;
    line-height: 1.5;
    font-style: italic;
}

/* === BOXES === */

.boxes-container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container2 {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 16pt;
}
.boxes-arrow{
    background-color: #dddddd;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    width: 20%;
    padding: 12pt;
    height: 16pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boxes-arrow:hover{
    background-color: #cdcdcd;
    transition: background-color 0.2s ease;
}

.boxes-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 24pt;
}
.boxes-header span {
    font-size: 12pt;
}

.boxes-header h2 {
    font-size: 24pt;
}


.boxes-content {
    background-color: #1e1e1e;
    border-radius: 45px;
    text-align: left;
    padding: 32pt;
    width: 100%;
    min-height: 140pt;
    transition: transform 0.2s ease, border-color 0.2s ease;
}
.boxes-content h3{
    font-weight: bolder;
}
.boxes-content div:hover{
    background-color: #cfcfcf;
    transition: background-color 0.2s ease;
}
.boxes-content:hover {
    transform: translateY(-4px);
    background-color: #282828;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.boxes-content h3 {
    margin-top: 0;
    color: #00ff66;
}

.boxes-content p {
    font-size: 13.5pt;
    line-height: 1.4;
    color: #cfcfcf;
}
/* === resources === */
.resources-section {
    display: flex;
    width: 80%;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 12pt;
    padding: 48pt 16pt;

}

.resources-section h2 {
    font-size: 24pt;
    margin: 0;
}

.resources-section span {
    font-size: 16pt;
    line-height: 1.5;
    font-style: italic;
}

