body{
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}
/* === NAVBAR === - index */

nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1pt solid darkslategray;
    margin-bottom: 5pt;
    font-size: 16pt;
}
nav a{
    text-decoration: underline;
    color: green;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 5pt;

}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 1084px) {
    .links{
        width: 100%;
    }
}

/* === HERO ===  - index */

.header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    background-color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    margin-bottom: 16pt
}
.header-content h1{
    font-size: 32pt;
    display: flex;
    flex-direction: column;
    margin-left: 16pt;
}
.header-content span{
    margin-left: 16pt;
    width: 60%;
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ===BOX MENU=== - index */

.boxes-container1{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.boxes-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.boxes-header{
    font-weight: bold;
    text-align: center;
}
.boxes-content{
    border-radius: 6pt;
    background-color: gray;
    text-align: center;
    width: 33%;
    height: 164pt;
}



