/* globals.css */
@import "tailwindcss";

body{
    background-color: black;
    color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
}